.center2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 5px solid black;
    padding: 0;
}

.background2 {
    background: gray;
}
a {
    text-decoration: none;
    font-size: 20px;
    border: 5px solid black;
    color: black;
    padding: 0;
}