table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th, td {
    border: 5px solid black;
    text-align: center;
    padding: 4px; /* Поля вокруг текста */
    font-size: 20px;
}
th {
    background: white; /* Цвет фона ячейки */
    height: 50px; /* Высота ячеек */
    vertical-align: center; /* Выравнивание по нижнему краю */
    padding: 0; /* Убираем поля вокруг текста */
}

.background {
    background: gray;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: red;
}

.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 10px;
}

.create {
    font-size: 30px;
    color: black;
}