<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><h2>Login</h2></td>
            </tr>
            <tr>
                <td><label>Login:</label></td>
                <td><input type="text" name="username" placeholder="My username"></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="text" name="password" placeholder="My password"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>